// set custom hex colors 
$siteBgColorCustom: #f4f2f3;
$sidebarBgColorCustom: #dbdbd2;
$textColorCustom: #666260;
$sidebarTextColorCustom: #666260;
$headlineColorCustom: red;
$headingColorCustom: #103742;
$bodyLinkColorCustom: #4281a4;
$navLinkColorCustom: #4281a4;
$sidebarLinkColorCustom: #4281a4;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #103742;
$buttonHoverBgColorCustom: #4281a4;
$borderColorCustom: #c4beb9;