// set custom hex colors 
$bg: darken(#f4f2f3, 10);
$main: #103742;
$accent: #786f52;

$siteBgColorCustom: $bg;
$sidebarBgColorCustom: #dbdbd2;
$textColorCustom: #666260;
$sidebarTextColorCustom: #666260;
$headlineColorCustom: $main;
$headingColorCustom: $main;
$bodyLinkColorCustom: $accent;
$navLinkColorCustom: $accent;
$sidebarLinkColorCustom: $accent;
$footerTextColorCustom: #918f8d;
$buttonTextColorCustom: #f7f7f4;
$buttonHoverTextColorCustom: #f9f9f8;
$buttonBgColorCustom: #516DB0;
$buttonHoverBgColorCustom: #2c2857;
$borderColorCustom: #c4beb9;