{{ define "main" }}

<div class="landing-container">
    <h1 class="focal">Hello, I am <div class="name">Iyed Ghedamsi</div>
    </h1>
    
    <h3 class="introduction">
        I <div class="emph">design</div> interactive stories by <div class="emph">collecting</div>, <div class="emph">
            analyzing</div> and
        <div class="emph">visualizing</div> real-world data. 
    </h3>
    
    <nav class="navigation">
        <ul>
            <a href="/blog">
                <li class="navigation-item">
                    <span class="navigation-item-title">Blog.</span>
                    <span class="navigation-item-description">My writings</span>
                </li>
            </a>
            <a href="/projects">
                <li class="navigation-item">
                    <span class="navigation-item-title">Projects.</span>
                    <span class="navigation-item-description">My explorations</span>
                </li>
            </a>
            <a href="/about">
                <li class="navigation-item">
                    <span class="navigation-item-title">About.</span>
                    <span class="navigation-item-description">Get to know me</span>
                </li>
            </a>
        </ul>
    </nav>
</div>
{{ end }}